# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.rpg-game.iml
/projectSettingsUpdater.xml
/contentModel.xml

/obj
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
